/*------------------------------------------------*/
/*---------------[RESPONSIVE LAYOUTS]-------------*/
/*------------------------------------------------*/

@media only screen and ( max-width: 1300px ) {
	#mainwp-refresh-bar-buttons .mainwp-button-red {
		display: none;
	}
}

@media only screen and ( min-width: 1101px ) {

}

@media only screen and ( min-width: 981px ) and ( max-width: 1100px ) {

}

@media only screen and ( max-width: 980px ) {

}

@media only screen and ( min-width: 768px ) and ( max-width: 980px ) {

}

@media screen and ( max-width: 768px ) {

	/*--- General ---*/

	a#mainwplogo {
		display: none;
	}

	#mainwp-tabs {

	}

	.mainwp-ui input[type="text"] {
		width: 100% !important;
	}

	#mainwp-tabs .nav-tab {
		width: calc(100% - 34px) !important;
		display: block;
		margin-right: 0 !important;
		clear: both;
	}

	#mainwp-tabs .mainwp-help-tab {
		display: none;
	}

	select {
		width: 100% !important;
		max-width: 100% !important;
	}

	.alignleft {
		float: none;
		width: 100%;
	}

	/*--- Dasbhaord ---*/

	#mainwp-welocme-bar-top,
	#mainwp-welocme-bar-top span {
		display: block;
		width: 100%;
		float: none;
	}

	#mainwp-welcome-bar .welcome-panel .welcome-panel-column li {
		display: block !important;
	}

	#mainwp_tab-general .mainwp-row {
		display: block;
		clear: both;
		margin: 1em 0;
	}

	#mainwp_tab-general .mainwp-left-col {
		display: block;
		width: 100%;
		margin-bottom: .5em;
		float: none;
	}

	#mainwp_tab-general .mainwp-mid-col {
		display: none;
		float: none;
	}

	#mainwp_tab-general .mainwp-right-col {
		display: block;
		width: 100%;
		margin-bottom: .5em;
		float: none;
	}

	#mainwp_tab-general .mainwp-row-actions {
		display: block !important;
	}

	.mainwp-ui input[type="text"] {
		width: 100% !important;
		margin: .5em 0!important;
	}


	.mainwp-ui .button,
	.mainwp-ui .button-hero,
	.mainwp-ui .button-primary {
		width: 100% !important;
		font-size: 16px!important;
		text-align: center!important;
		margin: .5em 0!important;
		display: block !important;
	}

	/*--- Sites ---*/

	/*  -  Manage  -  */

	#mainwp_managesites_content .tablenav.top,
	#mainwp_managesites_content .tablenav.bottom .displaying-num {
		display: none !important;
	}

	#mainwp_managesites_content .tablenav.bottom .bulkactions,
	#mainwp_managesites_content .tablenav.bottom .actions {
		float: none;
		margin-bottom: 2em;
		display: block !important;
		width: 100%;
	}

	#mainwp_managesites_content .tablenav.bottom .bulkactions input,
	#mainwp_managesites_content .tablenav.bottom .bulkactions select,
	#mainwp_managesites_content .tablenav.bottom .actions input,
	#mainwp_managesites_content .tablenav.bottom .actions select {
		width: 100% !important;
		max-width: 100% !important;
	}

	#mainwp_managesites_content table.sites .check-column {
		width: 10% !important;
	}

	#mainwp_managesites_content table.sites .column-status {
		display: none !important;
	}

	#mainwp_managesites_content table.sites .column-site {
		width: 80% !important;
	}

	/*
        #mainwp_managesites_content table.sites .column-status,
        #mainwp_managesites_content table.sites .column-url,
        #mainwp_managesites_content table.sites .column-groups,
        #mainwp_managesites_content table.sites .column-backup,
        #mainwp_managesites_content table.sites .column-last_sync,
        #mainwp_managesites_content table.sites .column-last_post,
        #mainwp_managesites_content table.sites .column-seo,
        #mainwp_managesites_content table.sites .column-notes,
        #mainwp_managesites_content table.sites .column-site_actions,
        #mainwp_managesites_content table.sites .column-score_mobile,
        #mainwp_managesites_content table.sites .column-score_desktop,
        #mainwp_managesites_content table.sites .column-wfc_status {
            display: none !important;
        }
    */
	/*  -  Add  -  Test Connection  -  */

	.mainwp-ui input[type="text"],
	.mainwp-ui #selected_groups,
	.mainwp-ui select {
		width: 100% !important;
	}

	/* --- Groups --- */

	.mainwp_managegroups-outsidebox {
		width: 100%;
		display: block;
		margin-bottom: 2em;
	}

	#mainwp_managegroups-addnew-container {
		display: block;
		float: none;
		padding: .5em 0;
	}

	/* --- Posts --- */

	.mainwp-ui #mainwp_posts_content table.posts .column-author,
	.mainwp-ui #mainwp_posts_content table.posts .column-categories,
	.mainwp-ui #mainwp_posts_content table.posts .column-tags,
	.mainwp-ui #mainwp_posts_content table.posts .column-comments,
	.mainwp-ui #mainwp_posts_content table.posts .column-status,
	.mainwp-ui #mainwp_posts_content table.posts .column-date {
		display: none !important;
	}

	/* --- Pages --- */

	.mainwp-ui #mainwp_pages_content table.pages .column-author,
	.mainwp-ui #mainwp_pages_content table.pages .column-categories,
	.mainwp-ui #mainwp_pages_content table.pages .column-comments,
	.mainwp-ui #mainwp_pages_content table.pages .column-status,
	.mainwp-ui #mainwp_pages_content table.pages .column-date {
		display: none !important;
	}

	/* --- Themes & Plugins--- */

	.mainwp_config_box_left, .mainwp_config_box_right {
		width: 100% !important;
	}

	.mainwp_page_ThemesAutoUpdate input[type="text"],
	.mainwp_page_ThemesAutoUpdate select,
	.mainwp_page_PluginsAutoUpdate input[type="text"],
	.mainwp_page_PluginsAutoUpdate select {
		width: 100%;
		display: block;
		margin-bottom: 2em;
	}

	/* --- Users --- */

	.mainwp-ui table#mainwp_users_table .column-author,
	.mainwp-ui table#mainwp_users_table .column-role,
	.mainwp-ui table#mainwp_users_table .column-email,
	.mainwp-ui table#mainwp_users_table .column-posts,
	.mainwp-ui table#mainwp_users_table .column-website {
		display: none !important;
	}

	/* --- Backups --- */

	.mainwp-form_hint {
		display: none !important;
	}

	/*  -  Manage  -  */

	.mainwp-ui .postbox {
		width: 100% !important;
		min-height: auto !important;
		height: auto !important;
	}

	.mainwp_select_sites_box .postbox,
	.mainwp_select_sites_box  {
		max-width: 100% !important;
		width: 100% !important;
		min-width: 100% !important;
	}

	.mainwp_page_Documentation .add-new-h2 {
		width: 100%;
		font-size: 16px;
		display: block;
	}

	/* --- Extensions --- */

	#mainwp-extensions-categories-menu {
		display: none;
	}

	.mainwp_api_postbox input, .mainwp_api_postbox select {
		width: 100%;
	}

	#mainwp-extensions-wrap .mainwp-extensions-disable-all,
	#mainwp-extensions-wrap .mainwp-extensions-enable-all,
	#mainwp-extensions-wrap #mainwp-extensions-expand,
	#mainwp-extensions-wrap #mainwp-extensions-collapse {
		display: none !important;
	}


	#mainwp-extensions-list td.mainwp-extensions-childName,
	#mainwp-extensions-list td.mainwp-extensions-childActions {
		display: block;
		width: 100%;
		margin-bottom: 2em;
	}

	#mainwp-extensions-list td.mainwp-extensions-childActions .api-status,
	#mainwp-extensions-list td.mainwp-extensions-childActions .button {
		display: block;
		width: 100%;
		padding: 1em 0;
		margin-bottom: 1em;
		text-align: center;
	}

	#mainwp-extensions-list td.mainwp-extensions-childIcon,
	#mainwp-extensions-list td.mainwp-extensions-childVersion,
	#mainwp-extensions-list td.mainwp-extensions-extra {
		display: none;
	}

	#mainwp-available-extensions {
		display: none;
	}


}