/*------------------------------------------------*/
/*---------------[RESPONSIVE LAYOUTS]-------------*/
/*------------------------------------------------*/

@media only screen and ( min-width: 1101px ) {

}

@media only screen and ( min-width: 981px ) and ( max-width: 1100px ) {
	
}

@media only screen and ( max-width: 980px ) {

}

@media only screen and ( min-width: 768px ) and ( max-width: 980px ) {

}

@media screen and ( max-width: 768px ) {

	/*--- General ---*/

	a#mainwplogo {
		display: none;
	}

	#mainwp-tabs {
		 
	}

	#mainwp-tabs .nav-tab {
		width: calc(100% - 34px) !important;
		display: block;
		margin-right: 0 !important;
		clear: both;
	}

	#mainwp-tabs .mainwp-help-tab {
		display: none;
	}

	/*--- Dasbhaord ---*/

	#mainwp-refresh-bar {
		text-align: center;
	}

	#mainwp-welcome-bar {
		width: 100% !important;
		display: block !important;
		margin-bottom: 1em;
	}

	#mainwp-refresh-bar-buttons {
		width: 100% !important;
		display: block !important;
	}

	#mainwp-refresh-bar-buttons a.button-hero {
		width: 95% !important;
		display: block !important;
		text-align: center;
		margin: .25em auto;
	}

	/*--- Sites ---*/

	/*  -  Manage  -  */

	#mainwp_managesites_content .tablenav.top,
	#mainwp_managesites_content .tablenav.bottom .displaying-num {
		display: none !important;
	}

	#mainwp_managesites_content .tablenav.bottom .bulkactions,
	#mainwp_managesites_content .tablenav.bottom .actions {
		float: none;
		margin-bottom: 2em;
		display: block !important;
		width: 100%;
	}

	#mainwp_managesites_content .tablenav.bottom .bulkactions input,
	#mainwp_managesites_content .tablenav.bottom .bulkactions select,
	#mainwp_managesites_content .tablenav.bottom .actions input,
	#mainwp_managesites_content .tablenav.bottom .actions select {
		width: 100% !important;
		max-width: 100% !important;
	}

	#mainwp_managesites_content table.sites .check-column {
		width: 10% !important;		
	}

	#mainwp_managesites_content table.sites .column-status {
		width: 13% !important;		
	}

	#mainwp_managesites_content table.sites .column-site {
		width: 77% !important;
	}

	#mainwp_managesites_content table.sites .column-url,
	#mainwp_managesites_content table.sites .column-groups,
	#mainwp_managesites_content table.sites .column-backup,
	#mainwp_managesites_content table.sites .column-last_sync,
	#mainwp_managesites_content table.sites .column-last_post,
	#mainwp_managesites_content table.sites .column-seo,
	#mainwp_managesites_content table.sites .column-notes,
	#mainwp_managesites_content table.sites .column-site_actions,
	#mainwp_managesites_content table.sites .column-score_mobile,
	#mainwp_managesites_content table.sites .column-score_desktop,
	#mainwp_managesites_content table.sites .column-wfc_status {
		display: none !important;
	}

	/*  -  Add  -  Test Connection  -  */
	 
	#mainwp_testconnection_form .form-field input,
	#mainwp-managesites-adv-options .form-field input,
	#mainwp_managesites_add_form .form-field input,
	#mainwp_managesites_add_form #selected_groups,
	#mainwp_managesites_add_form .mainwp-field {
		background-image: none !important;
		width: 100% !important;
	}

	.mainwp-ui .button-primary {
		width: 100%;
		font-size: 16px;
		height: 3em;
	}

}