/* Logs style */
.mainwp-logs-menu {
    display: none !important;
}

.mainwp_page_SettingsDashboardInsights .mainwp-logs-menu {
    display: inline !important;
}

#mainwp-module-log-settings-wrapper .log-settings-hidden-field,
#mainwp-second-level-navigation #SettingsDashboardInsights {
    display: none !important;
}

#mainwp-module-log-filters-row .mainwp_datepicker {
    display: inline-block;
}

@media only screen and (min-width: 1370px) {
    #widget-recent_events .mainwp-scrolly-overflow {
        height: calc(100% - 120px) !important;
    }
}