/*------------------------------------------------*/
/*---------------[RESPONSIVE LAYOUTS]-------------*/
/*------------------------------------------------*/

@media only screen and ( max-height: 500px ) {
	.mainwp-nav-menu .item-wp-admin {
		position: relative !important;
	}
}

@media only screen and ( min-width: 769px ) {

	.mainwp-768-show {
		display: none !important;
	}

	.mainwp-manage-updates-table {
		white-space: nowrap;
	}

	.mainwp-manage-updates-table thead tr th:last-child,
	.mainwp-manage-updates-table tbody tr td:last-child,
	.mainwp-manage-updates-table tfoot tr th:last-child {
		text-align: right !important;
	}

	.mainwp-manage-updates-table tbody tr td.dataTables_empty {
		text-align: center !important;
	}
}

@media only screen and ( min-width: 992px ) and ( max-width: 1449px ) {
	#mainwp-manage-updates {
		overflow-x: scroll !important;
	}
}

@media only screen and ( min-width: 1360px ) and ( max-width: 1645px ) {
	#mainwp-update-everything-button {
		font-size: 14px;
	}
}

@media only screen and ( min-width: 768px ) and ( max-width: 1365px ) {

	.item-wp-admin {
		z-index: 9999 !important;
	}

	#mainwp-updates-overview-menu,
	#mainwp-updates-stats {
		width: 100% !important;
	}
	
}

@media only screen and ( min-width: 768px ) and ( max-width: 1080px ) {

	.mainwp-ui .ui.two.column.grid .column,
	.mainwp-ui .ui.three.column.grid .column {
		width: 100% !important;
		padding: 1em !important;
	}

	#mainwp-top-header .ui.grid .left.floated.column {
		width: 15% !important;
	}
	#mainwp-top-header .ui.grid .right.floated.column {
		width: 85% !important;
	}

}

@media screen and ( min-width: 1200px ) {
	#mainwp-get-purchased-extensions-modal {
		width: 1210px;
	}
}

@media screen and ( max-width: 1200px ) {
	#mainwp-get-purchased-extensions-modal #mainwp-install-extensions-menu {
		overflow-x: auto;
		overflow-y: hidden;
	}
}



@media screen and ( max-width: 1366px ) {

	.mainwp-ui #mainwp-grid-wrapper {
		padding: 1rem !important;
	}

	.mainwp-ui .mainwp-widget {
		margin-bottom: 1rem !important;
	}

	.mainwp-ui .mainwp-widget .mainwp-scrolly-overflow {
		height: 100% !important;
		padding: 0px !important;
		overflow-y: visible !important;
		overflow-x: visible !important;
	}

	.mainwp-ui .mainwp-widget .mainwp-widget-footer {
		position: relative !important;
	}
}

@media screen and ( max-width: 1140px ) {
	.mainwp-content-wrap {
		width: 100%;
		margin-left: 0 !important;
	}

	/*--- Menu ---*/

	#mainwp-main-navigation-container {
		display: none !important;
	}

	.mainwp-main-mobile-navigation-container {
		display: block;
		padding: 10px;
		vertical-align: middle;
	}

	.mainwp-ui.toplevel_page_mainwp_tab.mainwp-ui-leftmenu .mainwp-content-wrap, .mainwp-ui.mainwp_page_Settings .mainwp-content-wrap, .mainwp-ui.mainwp_page_SettingsAdvanced .mainwp-content-wrap, .mainwp-ui.mainwp_page_SettingsEmail .mainwp-content-wrap, .mainwp-ui.mainwp_page_MainWPTools .mainwp-content-wrap, .mainwp-ui.mainwp_page_SettingsInsights .mainwp-content-wrap, .mainwp-ui.mainwp_page_SettingsApiBackups .mainwp-content-wrap, .mainwp-ui.mainwp_page_ServerInformation .mainwp-content-wrap, .mainwp-ui.mainwp_page_ServerInformationCron .mainwp-content-wrap, .mainwp-ui.mainwp_page_ErrorLog .mainwp-content-wrap, .mainwp-ui.mainwp_page_ActionLogs .mainwp-content-wrap, .mainwp-ui.mainwp_page_PluginPrivacy .mainwp-content-wrap, .mainwp-ui.mainwp-hidden-second-level-navigation.mainwp-ui-leftmenu .mainwp-content-wrap {
		margin-left: 0 !important;
	}

	#mainwp-main-menu.ui.menu {
		min-height: 0;
	}
}

@media screen and ( max-width: 767px ) {

	#mainwp-page-navigation-wrapper,
	#mainwp-page-navigation-wrapper .mainwp-page-navigation {
		display: block !important;
		width: 100% !important;
		float: none !important;
		position: relative !important;
		top: auto !important;
		bottom: auto !important;
	}

	#mainwp-site-mode-wrap {
		display: block !important;
		width: 100% !important;
		float: none !important;
	}

	.mainwp-ui .ui.five.cards > .card {
		width: 100%;
	}

	.mainwp-ui .ui.stackable.pagination.menu {
		width: 100%;
		margin-bottom: 2em;
	}

	.mainwp-768-hide {
		display: none !important;
	}

	.mainwp-768-show {
		display: inline-block !important;
	}

	.mainwp-768-fluid {
		width: 100% !important;
		text-align: center !important;
	}

	.ui.table:not(.unstackable) > tbody > tr > td:not(.rowspanned).mainwp-768-half-width-cell {
		width: 50% !important;
		display: inline-table !important;
	}

	.mainwp-ui table .menu.transition.visible {
		top: 0 !important;
		left: 0 !important;
		position: relative !important;
		width: 100% !important;
		background: none !important;
		box-shadow: none !important;
		border: 0 solid #fff !important;
	}

	.mainwp-ui table .menu.transition.visible:after {
		display: none !important;
	}

	/*--- WP Overrides ---*/

	.mainwp-ui #wpcontent,
	.mainwp-ui #wpbody {
		padding: 0 !important;
	}

	/*--- General ---*/

	.mainwp-ui table.dataTable thead th .ui.checkbox {
		margin-left: 20px !important;
	}

	.mainwp-ui [data-tooltip]:before,
	.mainwp-ui [data-tooltip]:after {
		display: none !important;
	}

	.mainwp-ui .ui.dropdown {
		width: 100% !important;
	}

	

	.mainwp-main-content {
		width: 100%;
	}

	.mainwp-actions-bar .ui.grid>[class*="two column"].row>.column,
	.mainwp-actions-bar .ui.grid .column {
		width: 100% !important;
	}

	.mainwp-actions-bar .ui.buttons {
		width: 100% !important;
		margin-bottom: 1rem !important;
	}

	.mainwp-actions-bar .ui.buttons .button:not(.mini),
	.mainwp-actions-bar .ui.buttons .button:not(.icon) {
		width: auto !important;
	}

	#mainwp-top-header .ui.icon.button {
		display: none !important;
	}

	#mainwp-top-header .ui.icon.button#mainwp-sync-sites {
		display: block !important;
	}

	#mainwp-top-header #mainwp-sync-sites {
		display: block;
		width: 100%;
		margin-bottom: 20px;
	}

	.mainwp-widget .ui.icon.button {
		width: auto !important;
	}

	.mainwp-side-content {
		width: 100%;
		border: none !important;
		margin-top: 1rem;
	}

	.mainwp-side-content.mainwp-no-padding {
		padding: 1em !important;
	}

	.mainwp-ui .ui.button:not(.mini),
	.mainwp-ui .ui.button:not(.icon) {
		width: 100%;
		margin-left: 0 !important;
		margin-right: 0 !important;
		margin-bottom: 10px !important;
	}

	.mainwp-ui .ui.buttons .ui.button {
		width: auto !important;
	}
	
	.mainwp-ui .ui.grid.field .column {
		width: 100% !important;
		display: block !important;
	}

	.mainwp-ui .ui.labeled.icon.inverted.menu.mainwp-sub-submenu {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}


	/*--- Tables ---*/

	.ui.table:not(.unstackable) > thead.mainwp-768-hide {
		display: none !important;
	}

	.mainwp-ui .ui.table tr td .ui.mini.button {
		width: auto !important;
		float: none !important;
		padding: 15px !important;
		margin-top: 5px !important;
	}


	/*--- Overview ---*/

	.mainwp-ui .mainwp-grid-wrapper .grid-item.column {
		margin-top: 1rem !important;
		padding: 0 !important;
	}

	.mainwp-grid-wrapper .grid-item .ui.list .column,
	.mainwp-grid-wrapper .grid-item .column {
		text-align: left !important;
		width: 100% !important;
		display: block !important;
	}

	#widget-overview .ui.grid .two.column.row .column {
		width: 100% !important;
		text-align: center !important;
	}

	/*--- Sites ---*/

	#mainwp-add-new-buttons {
		display: none;
	}

	.mainwp-manage-wpsites-table {
		white-space: normal !important;
	}

	/*--- Groups ---*/


 	#mainwp-manage-groups-sites-table tfoot tr th {
		display: block !important;
		border-top: none !important;
		background: #fff !important;
	}

	/* --- Updates --- */

	.ui[class*="tablet stackable"].table.mainwp-manage-updates-table > thead > tr > th:not(.rowspanned),
	.ui[class*="tablet stackable"].table.mainwp-manage-updates-table > tbody > tr > td:not(.rowspanned) {
		width: auto !important;
	 }

	.mainwp-manage-updates-table tr,
	.mainwp-manage-updates-item-table tr {
		padding: 1rem 0.5rem 0.5rem !important;
	}

	.mainwp-manage-updates-table table thead tr,
	.mainwp-manage-updates-table table tfoot tr {
		background: #eee !important;
	}

	.mainwp-manage-updates-table table table thead tr,
	.mainwp-manage-updates-table table table tfoot tr {
		background: #eee !important;
	}

	.mainwp-manage-updates-table table tbody tr {
		background: #f9ffea !important;
	}

	.mainwp-manage-updates-table table table tbody tr {
		background: #f9ffea !important;
	}

	.mainwp-manage-updates-table td,
	.mainwp-manage-updates-item-table td {
		font-weight: normal !important;
	}

	.mainwp-manage-updates-table strong.mainwp-768-show {
		width: 70px;
	}

	.mainwp-manage-updates-table .ui.button {
		display: block;
		width: 100%;
	}

	.mainwp-page-navigation.ui.secondary.green.pointing.menu .item {
		display: block;
	}

	.mainwp-page-navigation.ui.secondary.green.pointing.menu .item .label {
		float: right;
	}

	/* --- Posts --- */

	#mainwp-posts-table {
		white-space: normal !important;
	}

	/* --- Pages --- */

	#mainwp-pages-table {
		white-space: normal !important;
	}

	/* --- Themes & Plugins--- */

	#mainwp-install-plugins-container,
	#mainwp-install-themes-container {
		margin-top: 1rem;
	}

	.mainwp-ui .theme.card {
		width: 100% !important;
	}

	#mainwp-manage-plugins-table,
	#mainwp-manage-themes-table {
		width: 100% !important;
		height: auto !important
	}

	#mainwp-manage-plugins-table .dtr-data,
	#mainwp-manage-themes-table .dtr-data {
		float: left;
	}

	#mainwp-manage-themes-table thead th.mainwp-first-th,
	#mainwp-manage-plugins-table thead th.mainwp-first-th {
		position: relative !important;
		left: 0 !important;
		top: 0 !important;
		z-index: 0 !important;
	}

	#mainwp-manage-themes-table tbody tr,
	#mainwp-manage-plugins-table tbody tr  {
		padding: 0 !important;
	}

	#mainwp-manage-themes-table tbody tr:hover,
	#mainwp-manage-plugins-table tbody tr:hover {
		background: #fff !important;
	}

	#mainwp-manage-themes-table tbody tr td:first-child,
	#mainwp-manage-plugins-table tbody tr td:first-child {
		background: #fff !important;
		position: relative !important;
		left: 0 !important;
		top: 0 !important;
		z-index: 0 !important;
	}

	#mainwp-manage-themes .DTFC_LeftWrapper,
	#mainwp-manage-themes .DTFC_RightWrapper {
		display: none;
	}

	#mainwp-manage-plugins-table-legend .item,
	#mainwp-manage-themes-table-legend .item {
		display: block !important;
		margin-left: 1em !important;
	}

	/* --- Users --- */

	.mainwp-ui .ui.button.wp-generate-pw {
		margin-bottom: 0 !important;
		display: block !important;
	}

	.mainwp-ui #mainwp-add-new-user-form input#password {
		display: block !important;
		width: 100% !important;
		border-right: 1px solid #eee !important;
	}

	.mainwp-ui #mainwp-add-new-user-form .ui.left.labeled.action.input {
		display: block !important;
	}

	#mainwp-users-table,
	#mainwp-admin-users-table {
		white-space: normal !important;
	}



	/* --- Extensions --- */

	#mainwp-extensions-list {
		margin-top: 1rem;
	}

	/* --- Server Information --- */

	/* ---  Contribution by Joris Kramer  --- */

	.mainwp-ui #mainwp-top-header .ui.stackable.grid .left.floated.column {
		display: none !important;
	}

	.mainwp-ui #mainwp-top-header .ui.stackable.grid .right.floated.column.right.aligned {
		padding: 1rem 0 !important;
	}

	#mainwp-sync-sites.ui.button.green {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

	#mainwp-main-menu.ui.menu {
		min-height: 0;
	}

	.mainwp-ui .ui.grid>.row>.column {
		width: 100% !important;
	}

	.mainwp-ui .ui.segment.mainwp-widget .ui.grid>[class*="two column"].row>.column {
		width: 100% !important;
	}

	.mainwp-ui .ui.grid>.row>[class*="right aligned"].column.column {
		text-align: left !important;
		margin-top: 1rem;
	}

	.mainwp-ui .ui.table:not(.unstackable) tr {
		display: inherit !important;
	}

	.mainwp-ui .ui.table#mainwp-plugins-updates-sites-inner-table td:first-child,
	.mainwp-ui .ui.table#mainwp-themes-updates-sites-inner-table td:first-child {
		font-weight: 400;
	}

	.mainwp-ui .ui.table:not(.unstackable) tr>td.column-site-bulk {
		display: block !important;
	}

	/*
	#mainwp-manage-sites-content table.single.line,
	#mainwp-posts-table,
	#mainwp-pages-table,
	#mainwp-manage-themes-table,
	#mainwp-manage-plugins-table,
	#mainwp-manage-themes-table table,
	#mainwp-manage-plugins-table table,
	#mainwp-wordpress-updates-groups-table,
	#mainwp-plugins-updates-groups-table,
	#mainwp-themes-updates-groups-table,
	#mainwp-translations-groups-table,
	#mainwp-abandoned-plugins-groups-table,
	#mainwp-abandoned-themes-groups-table,
	#mainwp-plugins-updates-sites-table,
	#mainwp-themes-updates-sites-table,
	#mainwp-abandoned-plugins-sites-table,
	#mainwp-abandoned-themes-sites-table,
	#mainwp-wordpress-updates-table,
	#mainwp-plugins-updates-table,
	#mainwp-themes-updates-table,
	#mainwp-translations-sites-table,
	#mainwp-abandoned-plugins-items-table,
	#mainwp-abandoned-plugins-table,
	#mainwp-abandoned-themes-table,
	#mainwp-abandoned-themes-items-table,
	#mainwp-all-active-plugins-table,
	#mainwp-all-active-themes-table {
		white-space: normal !important;
	}
*/


	#mainwp-wordpress-updates-groups-table th,
	#mainwp-plugins-updates-groups-table th,
	#mainwp-themes-updates-groups-table th,
	#mainwp-manage-themes-table th,
	#mainwp-manage-plugins-table th,
	#mainwp-translations-groups-table th,
	#mainwp-abandoned-plugins-groups-table th,
	#mainwp-abandoned-themes-groups-table th,
	#mainwp-plugins-updates-sites-table th,
	#mainwp-themes-updates-sites-table th,
	#mainwp-abandoned-plugins-sites-table th,
	#mainwp-abandoned-themes-sites-table th,
	#mainwp-wordpress-updates-table th,
	#mainwp-plugins-updates-table th,
	#mainwp-themes-updates-table th,
	#mainwp-abandoned-plugins-table th,
	#mainwp-abandoned-themes-table th,
	#mainwp-translations-sites-table th,
	#mainwp-abandoned-plugins-items-table th,
	#mainwp-abandoned-themes-items-table th {
		display: block !important;
	}


	.mainwp-manage-updates-table:not(.unstackable) tr.content:not( .active ) {
		display: none !important;
	}

	#mainwp-wordpress-updates-groups-table .caret.right.icon,
	#mainwp-plugins-updates-groups-table .caret.right.icon,
	#mainwp-themes-updates-groups-table .caret.right.icon,
	#mainwp-manage-themes-table .caret.right.icon,
	#mainwp-manage-plugins-table .caret.right.icon,
	#mainwp-translations-groups-table .caret.right.icon,
	#mainwp-abandoned-plugins-groups-table .caret.right.icon,
	#mainwp-abandoned-themes-groups-table .caret.right.icon,
	#mainwp-plugins-updates-sites-table .caret.right.icon,
	#mainwp-themes-updates-sites-table .caret.right.icon,
	#mainwp-abandoned-plugins-sites-table .caret.right.icon,
	#mainwp-abandoned-themes-sites-table .caret.right.icon,
	#mainwp-wordpress-updates-table .caret.right.icon,
	#mainwp-plugins-updates-table .caret.right.icon,
	#mainwp-themes-updates-table .caret.right.icon,
	#mainwp-abandoned-plugins-table .caret.right.icon,
	#mainwp-abandoned-themes-table .caret.right.icon,
	#mainwp-translations-sites-table .caret.right.icon,
	#mainwp-abandoned-plugins-items-table .caret.right.icon,
	#mainwp-abandoned-themes-items-table {
		display: none !important;
	}


	#mainwp-wordpress-updates-groups-table .accordion-trigger,
	#mainwp-plugins-updates-groups-table .accordion-trigger,
	#mainwp-themes-updates-groups-table .accordion-trigger,
	#mainwp-manage-themes-table .accordion-trigger,
	#mainwp-manage-plugins-table .accordion-trigger,
	#mainwp-translations-groups-table .accordion-trigger,
	#mainwp-abandoned-plugins-groups-table .accordion-trigger,
	#mainwp-abandoned-themes-groups-table .accordion-trigger,
	#mainwp-plugins-updates-sites-table .accordion-trigger,
	#mainwp-themes-updates-sites-table .accordion-trigger,
	#mainwp-abandoned-plugins-sites-table .accordion-trigger,
	#mainwp-abandoned-themes-sites-table .accordion-trigger,
	#mainwp-wordpress-updates-table .accordion-trigger,
	#mainwp-plugins-updates-table .accordion-trigger,
	#mainwp-themes-updates-table .accordion-trigger,
	#mainwp-abandoned-plugins-table .accordion-trigger,
	#mainwp-abandoned-themes-table .accordion-trigger,
	#mainwp-translations-sites-table .accordion-trigger,
	#mainwp-abandoned-plugins-items-table .accordion-trigger,
	#mainwp-abandoned-themes-items-table .accordion-trigger {
		display: none !important;
	}


	#mainwp-wordpress-updates-groups-table tr td .ui.button,
	#mainwp-plugins-updates-groups-table tr td .ui.button,
	#mainwp-themes-updates-groups-table tr td .ui.button,
	#mainwp-manage-themes-table tr td .ui.button,
	#mainwp-manage-plugins-table tr td .ui.button,
	#mainwp-translations-groups-table tr td .ui.button,
	#mainwp-abandoned-plugins-groups-table tr td .ui.button,
	#mainwp-abandoned-themes-groups-table tr td .ui.button,
	#mainwp-plugins-updates-sites-table tr td .ui.button,
	#mainwp-themes-updates-sites-table tr td .ui.button,
	#mainwp-abandoned-plugins-sites-table tr td .ui.button,
	#mainwp-abandoned-themes-sites-table tr td .ui.button,
	#mainwp-wordpress-updates-table tr td .ui.button,
	#mainwp-plugins-updates-table tr td .ui.button,
	#mainwp-themes-updates-table tr td .ui.button,
	#mainwp-abandoned-plugins-table tr td .ui.button,
	#mainwp-abandoned-themes-table tr td .ui.button,
	#mainwp-translations-sites-table tr td .ui.button,
	#mainwp-abandoned-plugins-items-table tr td .ui.button,
	#mainwp-abandoned-themes-items-table tr td .ui.button,
	#mainwp-per-site-ignored-abandoned-plugins tr td .ui.button,
	#mainwp-per-site-ignored-abandoned-themes tr td .ui.button,
	#mainwp-globally-ignored-abandoned-plugins tr td .ui.button,
	#mainwp-globally-ignored-abandoned-themes tr td .ui.button {
		display: block !important;
		width: 100% !important;
	}

	#mainwp-plugins-updates-sites-table tr th .ui.button {
		display: block !important;
		width: 100% !important;
	}

	#mainwp-wordpress-updates-groups-table tr table,
	#mainwp-plugins-updates-groups-table tr table,
	#mainwp-themes-updates-groups-table tr table,
	#mainwp-manage-themes-table tr table,
	#mainwp-manage-plugins-table tr table,
	#mainwp-translations-groups-table tr table,
	#mainwp-abandoned-plugins-groups-table tr table,
	#mainwp-abandoned-themes-groups-table tr table,
	#mainwp-plugins-updates-sites-table tr table,
	#mainwp-themes-updates-sites-table tr table,
	#mainwp-abandoned-plugins-sites-table tr table,
	#mainwp-abandoned-themes-sites-table tr table,
	#mainwp-wordpress-updates-table tr table,
	#mainwp-plugins-updates-table tr table,
	#mainwp-themes-updates-table tr table,
	#mainwp-abandoned-plugins-table tr table,
	#mainwp-abandoned-themes-table tr table,
	#mainwp-translations-sites-table tr table,
	#mainwp-abandoned-plugins-items-table tr table,
	#mainwp-abandoned-themes-items-table tr table {
		background: #f9fafb !important;
	}

	/*
	#mainwp-http-response-issues-table {
		white-space: normal !important;
		width: 100% !important;
	}
	*/
}
